#container {
    width:100%;
}

#header {
   	background-image: url("pics/justlog.png");
    background-repeat:no-repeat;
    background-position: 0% 0%;
     max-width: 100%;
    
    /*vertical-align: middle;*/
	  /* text-align: center;*/
    /*display: table-cell; */
	   /*background-color: #A9D9FF;*/
    /*width: 30em;*/
	   height: 6em;
	   text-indent: 70px;
	   /*word-spacing: 40px;/*
	   /*white-space: pre-line;*/
	   line-height: 2em;
}

.right {
    max-width:50%;
}