#container {
    width:100%;
}

#content {
    background-color:white;
}

#header {
   	background-image: url("pics/justlog.png");
    background-repeat:no-repeat;
    max-width: 100%;
    height: 6em;
    text-indent: 70px;
	line-height: 1.2em;
	font-weight: bold;
}

#header h1, p {
    margin: 0;
    padding: 0;
}

#header h1 {
	font-size: 1.7em;
}

#header .headline {
    font-size: 1.2em;
    padding: 0 0 0 100px;
    text-indent: 0;
    font-weight: bold;
}

.right {
    max-width:50%;
}

#navigation {
    width: 100%;
    background-color:white;
    padding: 0.1em;
    margin-right: 0px;
}

/*#navigation {
	width: 11.9em;
	/*width: 190px;
	float: left;
	background-color: #BDC3D0;
	padding: 10px; 
}*/

/*#navigation li {
    margin: 0.6em 0em 0.6em;
}*/

#navigation li a {
    color: black;
    background-image: none;
    padding: 10px 1px 0 0px;
    height: 2em;
    width: 24%;
    margin: 0 0.2% 0 0.2%;
    font-size: 0.7em;
	/*font-weight:bold;*/
}

#navigation .active {
    height: 2em;
    width: 24%;
    margin: 0 0.2% 0 0.2%;
    background-image: none;
}

#navigation li a:hover {
    background-color: gray;
    height: 2em;
}

#main {
    max-width: 100%;
    padding: 0em 0.7em 0em 0.7em;
    background-color:white;
}

#main { 
    clear: both;
}

article {
    background-size: 1em;
}

article h3 {
    padding: 0;
    text-indent: 1em;
    line-height: 1.1em;
}

/*scroll på tabellen overflow*/

/* lösa dl-listan på nåt vis*/
#sokvag dd, dt {
    word-wrap: break-word;
    padding-right: 20px;
}

#table {
    overflow: auto;
    overflow-y: hidden;
    margin-right: 2em;
    /*box-shadow:0px 0px 0px;*/
    /*margin:20px;*/
}

fieldset {
	border: none;
}


label {
	float: left;
	min-width: 100%;
	padding: 10px;
	margin: 10px;
}

#footer {
	clear: both;
}

#footer a {
    color: black;
}

#footer a:visited {
	color: black;
}