body {
	background-color: #f0f8ff;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #BDC3D0;
}

#header {
	text-align: center;
	background-color: white;
}

#navigation {
	width: 180px;
	float: left;
	background-color: #A9B4C7;
}


#content {
	width: 700px;
	float: right;
	background-color: #BDC3D0;
}

#footer {
	clear: both;
	background-color: #7688A9;
	color: white;

}

table, td, th {
	border: 1px solid gray 
}