/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre, p,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---end reset-- */

/* --Body--Container--Header--Navigation--Content--Footer--Main*/
body {
	line-height: 1em;
	background-color: #f0f8ff;
	font-family: Glegoo, georgia, helvetica, sans-serif;
	padding: 10px;
}

@font-face {
    font-family: Glegoo;
    src: url(Glegoo-Regular.ttf);
}

#container {
	max-width: 1000px;
	margin: auto;
	box-shadow: 10px 10px 10px;
}

#header {
	background-image: url("pics/lognamn.png");
    background-repeat:no-repeat;
    background-position: 0% 0%;
	vertical-align: middle;
	text-align: center;
	display: table-cell; 
	background-color: #A9D9FF;
	width:1000px;
    height:200px;
    /*padding: 30px;*/
}

#content {
	max-width: 500px; 
	float: left;
	background-color: #BDC3D0;
	padding: 10px; 
}

#footer {
	clear: both;
	background-color: #7688A9;
	color: white;
	text-align:right;
}

#main {
	overflow: hidden;
	background-color: #BDC3D0;
}

/* --Menu--Navigation-- */
#navigation {
	width: 190px;
	float: left;
	background-color: #BDC3D0;
	padding: 10px; 
}

#navigation li a {
	display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 145px;
    height: 26px; 
    padding: 6px 15px 0 26px; 
    background-color: #7688A9;
    color: white; 
    text-decoration: none;
    border-radius: 5px; 
}
	
#navigation li a:hover {
 	background-color: white;
	color: black;
	font-weight: bold;
    height:26px; 
	/*margin-top: 10px;*/
	/*margin-bottom: 4px; 10*/
} 

#navigation .active
{
    background: #70A9C9;
    color:  #C4BCB0;
    text-align:right;
    height:26px;
}

#navigation ul {
	margin-bottom: 100%;
}

/*-- listIcon -- home */
#home {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("pics/sprite.png");
	background-repeat:no-repeat;
	float: left; 
}

#home {
	background-position: 0 -48px;
}

#home:hover {
	background-position: 0 0; 
}

/*work*/
#work {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("pics/sprite.png");
	background-repeat:no-repeat;
	float: left;
}

#work {
	background-position: 0 -144px;
}

#work:hover {
	background-position: 0 -96px; 
}

/*pres*/
#pres {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("pics/sprite.png");
	background-repeat:no-repeat;
	float: left;
}

#pres {
	background-position: 0 -240px;
}

#pres:hover {
	background-position: 0 -192px; 
}

#cont {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("pics/sprite.png");
	background-repeat:no-repeat;
	float: left;
}

#cont {
	background-position: 0 -336px;
}

#cont:hover {
	background-position: 0 -288px; 
}

/*home
work
pres
cont*/



/*Menu anchor "Laborationer.html"*/
#anchor {
	width: 500px;
	height: 140px;
}

#anchor ul li a {
	display: block;
	margin: 10px;
	width: 120px;
    height: 20px;
    padding: 3px;
    border: solid #7688A9;
    border-radius: 10px;
}
 
#anchor ul li a:hover {
  color: black;
  font-weight: bold;
  box-shadow: 10px 10px 10px;
  text-decoration: none;
}

#anchor ul li a:visited {
	color: #333;
}

/* --Table-- */
table {
    box-shadow:1px 2px 20px;
    margin:20px;
}

th, td {
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    
}

/* Egenskaper element */
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 16px;
	line-height: 1.4;
}


#content ul {
	list-style-type: none;
	padding: 10px 10px 10px 40px;
	line-height: 1.3em;
}

dl {
	padding: 10px;
	line-height: 1.5em;
}


/* --- Länkar --- */
#content a {
	color: #0074d9;
    text-decoration: none;
}

#content a:visited {
    color: #497796;
}

#content a:hover { 
	font-weight: bold;
	color: #2D495C; 
	text-decoration: none;
}

/* --- Bloggpost --- */
article {
    background-image: url("pics/blogg.png");
    background-repeat:no-repeat;
    background-position: 0% 0%;
}

article h3 {
	text-indent: 40px;
	padding-top: 8px;
}

 .right {
	float:right;
	border-style: solid;
    border-width: 5px;
} 

.stycke {
    margin-bottom: 1.5em;
}

.posted {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	font-size: 0.9em;
	font-weight:bold;
	font-style:italic;
}



/*
body bg color: f0f8ff
main bg color: BDC3D0
header bg color: white
navigation bg color: #BDC3D0
Nav active: 70A9C9 
nav active text:  C4BCB0
content bg color: BDC3D0
footer bg color: 7688A9
footer text color: white
*/